*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(8, 8, 9);
    font-family: "Nunito";
    overflow-x: hidden;
}

.text{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    z-index: 3;
}

.text h1{
    font-size: 9vw;
    text-shadow: 5px 5px 30px rgba(255, 255, 255, 0.666);
    z-index: 3;
}

.text p{
    font-size: 2rem;
    z-index: 3;
}

#gradient {
    background: radial-gradient(#ea00ff9d, rgb(8, 8, 9) 70%);
    width: 1000px;
    height: 1000px;
    position: absolute;
    left: -500px;
    top: -500px;
    opacity: 0;
    transition: opacity 1s;
    z-index: -1;
}
#gradient.visible {
    opacity: 0.25;
}
model-viewer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    opacity: .6;
    filter: blur(3px);
}